---
title: Blog
layout: page
pageOrder: 1
---

div.list-group
	each doc in getCollection('posts').toJSON()
		a.list-group-item(href=doc.url)
			h4.list-group-item-heading= doc.title
			h5
				span= doc.date.toDateString()
				each tag in doc.tags
					span.tag= tag
			p.list-group-item-text= doc.abstract
