--- yaml
layout: 'default'
title: 'Home'
---

hgroup
	h1 Hello, I am Bert Willems
	h2 a Web development enthousiast, welcome to my website!
	p On this website you will find my blog posts and my projects.

div(class='panel panel-primary')
	div.panel-heading Recent posts
	div.panel-body
		div.list-group
			each doc in getCollection('posts').toJSON().slice(0,5)
				a.list-group-item(href=doc.url)
					h4.list-group-item-heading= doc.title
					h5
						span= doc.date.toDateString()
						each tag in doc.tags
							span.tag= tag
					p.list-group-item-text= doc.abstract


div(class='panel panel-primary')
	div.panel-heading My projects
	div.panel-body
		div.list-group
			each doc in getCollection('projects').toJSON()
				a.list-group-item(href=doc.url)
					h4.list-group-item-heading= doc.title
					h5
						each tag in doc.tags
							span.tag= tag
					p.list-group-item-text= doc.abstract
