- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- Prettify Syntax Highlighting
- scripts.add(["/vendor/prettify.js"])
- styles.add(["/vendor/prettify.css"])

//- jQuery
- scripts.add(["/vendor/jquery/jquery.js"])

//- Bootstrap
- scripts.add(["/vendor/components-bootstrap/js/bootstrap.js"])
- styles.add(["/vendor/components-bootstrap/css/bootstrap.css"])

//- Font Awesome
- styles.add(["//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"])

//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.js"])

//- User
- styles.add(["/styles/style.css"])
- scripts.add(["/scripts/script.js"])

doctype 5
html(lang="en")
	head

		// Meta
		meta(charset="utf-8")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")

		//-
			Use the .htaccess and remove these lines to avoid edge case issues.
			More info: h5bp.com/i/378
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

		//- Our site title and description
		title= getPreparedTitle()
		meta(name="description", content=getPreparedDescription())
		meta(name="keywords", content=getPreparedKeywords())
		meta(name="author", content=site.author || '')

		//- Output DocPad produced meta elements
		!= getBlock('meta').toHTML()

		//- Mobile viewport optimized: h5bp.com/viewport
		meta(name="viewport", content="width=device-width")

		// Icons
		link(rel="shortcut icon", href="/ico/favicon.gif")

		//- Shims: IE6-8 support of HTML5 elements
		//if lt IE 9
			script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		// Styles
		!= styles.toHTML()

	body
		div(class='container')
			div(class='row top')
				div(class='col-lg-8 col-md-8 col-sm-7 col-left')
					div.brand
						a(href='/') Dev @ Work.nl
				div(class='col-lg-4 col-md-4 col-sm-5 col-right')
					nav
						ul(class='list-inline')
							each doc in getCollection('pages').toJSON()
								- clazz = (document.url === doc.url) ? 'active' : null
								li(class=clazz)
									a(href=doc.url)= doc.title
							li.social
								a(href='https://www.facebook.com/devatwork',title='facebook')
									i(class='fa fa-facebook-square')
								a(href='https://github.com/devatwork',title='github')
									i(class='fa fa-github-square')
								a(href='https://plus.google.com/111880992300867132101/',title='google plus')
									i(class='fa fa-google-plus-square')
								a(href='http://nl.linkedin.com/in/trilobyte',title='linkedin')
									i(class='fa fa-linkedin-square')
								a(href='https://twitter.com/devatwork',title='twitter')
									i(class='fa fa-twitter-square')
			div(class='row bottom')
				div(class='col-lg-8 col-md-8 col-sm-7 col-left')
					section(class='content')!= content
				div(class='col-lg-4 col-md-4 col-sm-5 col-right')
					section(class='sidebar')
						div(class='panel panel-primary')
							div.panel-heading Recent posts
							div.panel-body
								div.list-group
									each doc in getCollection('posts').toJSON().slice(0,5)
										a.list-group-item(href=doc.url)
											h4.list-group-item-heading= doc.title
											h5
												span= doc.date.toDateString()
												each tag in doc.tags
													span.tag= tag
											p.primary-group-item-text= doc.abstract
						div(class='panel panel-primary')
							div.panel-heading All projects
							div.panel-body
								div.list-group
									each doc in getCollection('projects').toJSON()
										a.list-group-item(href=doc.url)
											h4.list-group-item-heading= doc.title
											h5
												each tag in doc.tags
													span.tag= tag
											p.list-group-item-text= doc.abstract

		// Scripts
		!= scripts.toHTML()
