---
layout: default
---

article#post.post
	hgroup
		h1= document.title
		h2= document.date.toDateString()
		h3
			each tag in document.tags
				span.tag= tag
	.post-content!= content

!= getSocialButtons()

!= getNavLinks()

footer
	if document.relatedDocuments && document.relatedDocuments.length
		section#related
			h3 Related Posts
			nav.linklist
				each doc in document.relatedDocuments
					li
						span= doc.date.toDateString()
						|  &raquo;&nbsp;
						a(href=doc.url)= doc.title
